<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.EmpMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Emp">
        <id column="empno" property="empno" jdbcType="INTEGER"/>
        <result column="ename" property="ename" jdbcType="VARCHAR"/>
        <result column="deptno" property="deptno" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">empno, ename,deptno</sql>

    <insert id="insert">
        INSERT INTO emp(ename,deptno) VALUES (#{ename},#{deptno})
    </insert>

    <delete id="delete">
        delete from emp
        <where>
            <if test="empno != null"> and empno = #{empno}</if>
            <if test="ename != null"> and ename = #{ename}</if>
            <if test="deptno != null"> and deptno = #{deptno}</if>
        </where>
    </delete>

    <update id="update">
        UPDATE emp
        <set>
            <if test="ename != null">  ename = #{ename},</if>
            <if test="deptno != null"> and deptno = #{deptno}</if>
        </set>
    </update>

    <select id="find" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM emp
        <where>
            <if test="empno != null"> and empno = #{empno}</if>
            <if test="ename != null"> and ename = #{ename}</if>
            <if test="deptno != null"> and deptno = #{deptno}</if>
        </where>
    </select>
</mapper>